@font-face {
	font-family: "Quantico";
	src: url("fonts/quantico-v15-latin-regular.woff2") format("woff2"),
		url("fonts/quantico-v15-latin-regular.woff") format("woff");
}

* {
	margin: 0;
	overflow: hidden;
	box-sizing: border-box;
}

.game {
	float: right;
	background-color: #1E1E1E;
}

.sidebar {
	position: absolute;
	overflow: auto;
    top: 0;
    bottom: 0;
}

.content {
	font-family: "Quantico", sans-serif;
	font-weight: normal;
	text-align: center;
	padding: 5%;
}

.thumb {
	width: 40%;
	margin: 5%;
	box-shadow: 0px 0px 0px 0px;
	transition: box-shadow 100ms linear;
}

.selected {
	box-shadow: 0px 0px 0px 3px coral;
}

.hidden {
	display: none;
}

.info {
	font-family: monospace;
	white-space: pre;
	padding-left: 40px;
}