@font-face {
	font-family: "Quantico";
	src: url("fonts/quantico-v15-latin-regular.woff2") format("woff2"),
		url("fonts/quantico-v15-latin-regular.woff") format("woff");
}

* {
	margin: 0;
	overflow: hidden;
}

.game {
	float: right;
	background-color: #1E1E1E;
}

/* Styles the menu content which fits into the space left of the game board.
Possibly add "position: absolute; width: 300px;" to allow the column position to
be edited in JavaScript. Then access this defined width like so:
function getMenuWidth() {
	return parseInt(getComputedStyle(document.querySelector(".menu")).width);
} */
.menu {
	font-family: "Quantico", sans-serif;
	font-weight: normal;
	text-align: center;
	padding-top: 10px;
}

.thumb { /* images should be at least 105px square */
	width: 35%;
	margin: 5%;
	border-radius: 20%;
}

.info {
	font-family: monospace;
	white-space: pre;
	padding-left: 50px;
}